
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <footer th:fragment="common_head">
        <nav class="navbar navbar-expand-lg navbar-light ">
            <a class="navbar-brand" th:href="index">佛大叮当</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="index">首页
                            <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown" th:if="${user!=null}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                           role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                           th:text="${user.getUsername()}">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/user/product-manage}">我的闲置</a>
                            <a class="dropdown-item" th:href="@{/user/user-manage}">我的信息</a>
                            <a class="dropdown-item" th:href="@{/user/comment-manage}">我的留言</a>
                            <a class="dropdown-item" th:href="@{/user/announce-manage}">公告</a>
                            <a class="dropdown-item" th:href="@{logout}">退出</a>
                        </div>
                    </li>
                    <li class="nav-item active" th:if="${isAdmin}">
                        <a class="nav-link" th:href="@{/admin/admin-manage}" >后台管理入口
                            <span class="sr-only">(current)</span></a>
                    </li>


                    <li class="nav-item active " th:if="${user==null}">
                        <a class="nav-link" th:href="login">登录
                            <span
                                    class="sr-only">(current)
			                </span></a>
                    </li>
                    <li class="nav-item active " th:if="${user==null}">
                        <a class="nav-link" th:href="login">注册
                            <span
                                    class="sr-only">(current)
			                </span></a>
                    </li>

                </ul>
            </div>
        </nav>




    </footer>
</head>
</html>