<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">


<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>搜索结果</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/icon.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/plugins.css">
    <!-- Style Css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="css/custom.css">


    <!-- Js Files -->
    <script src="/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/js/modernizr-3.6.0.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>

</head>

<body>
<!-- Add your site or application content here -->

<!-- Wrapper -->
<div id="wrapper" class="wrapper">
    <!-- Header -->
    <header class="header sticky-header">
<!--        <nav class="navbar navbar-expand-lg navbar-light ">-->
<!--            <a class="navbar-brand" th:href="index">佛大叮当</a>-->
<!--            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                <span class="navbar-toggler-icon"></span>-->
<!--            </button>-->

<!--            <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                <ul class="navbar-nav mr-auto">-->
<!--                    <li class="nav-item active">-->
<!--                        <a class="nav-link" th:href="index">首页-->
<!--                            <span class="sr-only">(current)</span></a>-->
<!--                    </li>-->
<!--                    <li class="nav-item dropdown"   th:if="${session['user']!=null}">-->
<!--                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"-->
<!--                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  th:text="${session.user.getUsername()}">-->
<!--                        </a>-->
<!--                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                            <a class="dropdown-item" th:href="@{product-manage}">我的闲置</a>-->
<!--                            <a class="dropdown-item" th:href="@{user-manage}">我的信息</a>-->
<!--                            <a class="dropdown-item" th:href="@{comment-manage}">我的留言</a>-->
<!--                            <a class="dropdown-item" th:href="@{announce-manage}">公告</a>-->
<!--                            <a class="dropdown-item" th:href="@{logout}">退出</a>-->

<!--                        </div>-->
<!--                    </li>-->
<!--                    <li class="nav-item active " th:if="${user==null}">-->
<!--                        <a class="nav-link" th:href="login">登录-->
<!--                            <span-->
<!--                                    class="sr-only">(current)-->
<!--			                </span></a>-->
<!--                    </li>-->
<!--                    <li class="nav-item active " th:if="${session['user']==null}">-->
<!--                        <a class="nav-link" th:href="login">注册-->
<!--                            <span-->
<!--                                    class="sr-only">(current)-->
<!--			                </span></a>-->
<!--                    </li>-->

<!--                </ul>-->
<!--            </div>-->
<!--        </nav>-->
        <div id="head" th:include="common/template :: common_head"></div>



        <!-- Header Middle Area -->
        <div class="header-middle-area cr-border cr-border-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-12">
                        <form class="header-search" th:action="@{/search}" method="post">
                            <input type="text" placeholder="搜索闲置...." name="query"
                                   th:value="${query}">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-7 col-12">
                        <div class="header-logo">
                            <a href="index.html">
                                <img src="imgs/logo2.png" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-12">
                        <a class="btn btn-outline-warning btn-lg btn-block"  href="product-input"
                           role="button">发  布</a>
                    </div>
                </div>
            </div>
        </div>
        <!--// Header Middle Area -->
    </header>
    <!--// Header -->

    <!-- Page Conttent -->
    <main class="page-content">

        <!-- Fullwidth Shop Area -->
        <div class="shop-area bg-white section-padding-bottom-md">
            <div class="container">

                <!-- Shop Page Products -->
                <div class="row justify-content-center shop-page-products products-wrapper" >
                    <!-- Single Product -->
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-12" th:each="product : ${page}">
                        <div class="product-item">
                            <div class="product-item-images">
                                <p class="product-item-image-inner">
                                    <img th:src="${product.imgs.get(0)}">
                                    <!--<img src="/asdfasdf/闲置交易.png">-->
                                </p>
                                <p class="add-to-cart-button">
                                <a href="#"  th:href="@{/product/{id}(id=${product.id})}"><span>进去看看
                                </span></a>
                                </p>
                            </div>
                            <div class="product-item-content">
                                <div class="product-item-content-left">
                                    <h5><a href="product-details-right-sidebar.html"
                                           th:text="${product.title}"></a></h5>
                                    <div class="price-box">
                                        <span class="pricebox-price" th:text="${product.price}"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <!--<div class="shop-page-toolbars shop-page-toolbars-bottom" th:if="${page.totalPages}>1">-->
                <div class="shop-page-toolbars shop-page-toolbars-bottom" th:if="${page.totalPages}>1">
                    <ul class="shop-toolbar-pagination">
                        <li class="active"><a href="#" th:href="@{search(page=${page.number}-1)}"
                                              th:unless="${page.first}">上一页</a></li>
                        <li><a href="#" th:href="@{search(page=${page.number}+1)}"
                               th:unless="${page.last}">下一页</a></li>
                    </ul>

                </div>
                <!--// Shop Page Toolbars -->

            </div>
        </div>

        <!--// Fullwidth Shop Area -->
        <!--// Page Conttent -->
    </main>
</div>

</body>



<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->
</html>