<!doctype html>
<html class="no-js" lang="zxx">


<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>佛大叮当</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/icon.png">
    <!-- Style Css -->
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="css/custom.css">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/plugins.css">
    <script src="/projects/spring/secondhand/html/js/jquery-3.4.1.slim.min.js"></script>
    <script src="/projects/spring/secondhand/html/js/popper.min.js"></script>
    <script src="/projects/spring/secondhand/html/js/bootstrap.min.js" type="application/javascript"></script>

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">佛大闲置交易</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">首页<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown"  th:if="${user.name}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"th:text="${user.name}">
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">我的闲置</a>
                            <a class="dropdown-item" href="#">我的收藏</a>
                            <a class="dropdown-item" href="#">我的留言</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#" th:unless="${user.name}">注册
                            <span
                                class="sr-only">(current)
                        </span></a>
                    </li>
                
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="想要什么"
                            aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
                </form>
            </div>
        </nav>
            
        <!-- 上传表单 -->
    <div>
        <form class="row">
        <div class="form-group col-5">
            <label for="exampleFormControlInput1">物品标题</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="物品标题">
        </div>
        <div class="form-group col-5">
                <label for="exampleFormControlInput1">物品价格</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="物品价格">
            </div>
        <div class="form-group col-5">
            <label for="exampleFormControlSelect1">物品类型</label>
            <select class="form-control" id="exampleFormControlSelect1">
            <option>书籍类</option>
            <option>生活类</option>
            <option>电器类</option>
            <option>衣物类</option>
            <option>化妆类</option>
            </select>
        </div>

        <div class="form-group col-5">
            <label for="exampleFormControlTextarea1">简介</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <div class="input-group mb-3 col-5 row-md-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">上传图片</span>
                </div>
                <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">选择图片</label>
                </div>
        </div>


        </form>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-success btn-lg">上传</button>
    </div>

</body>
<!-- Js Files -->
<script src="/projects/spring/secondhand/html/js/jquery-3.4.1.slim.min.js"></script>
<script src="/projects/spring/secondhand/html/js/modernizr-3.6.0.min.js"></script>
<script src="/projects/spring/secondhand/html/js/plugins.js"></script>
<script src="/projects/spring/secondhand/html/js/main.js"></script>
<script src="/projects/spring/secondhand/html/js/popper.min.js"></script>
<script src="/projects/spring/secondhand/html/js/bootstrap.min.js" type="application/javascript"></script>

<!-- source http://www.scnoob.com More templates http://www.scnoob.com/moban -->

</html>